<!DOCTYPE html>
<html lang='en'>
  <head>
    <%- include('components/head.ejs') %>
  </head>
  <body>
    <%- include('components/nav.ejs') %>
    <main>
      <h1><%= pageTitle %></h1>
    </main>
    <script src='/js/main.js'></script>
  </body>
</html>
